.splishDiv {
    color: rgb(255, 255, 255);
    font-size: 3em;
    width: 400px;
    height: 800px;
    border: solid orange 3px;
    text-align: center;
}
.splishsplashDiv {
    color: rgb(255, 255, 255);
    font-size: 3em;
    width: 400px;
    height: 850px;
    border: solid orange 3px;
    display: grid;
    grid-template-rows: 10% 80% 10%;
    grid-template-columns: 1fr;
}
.splishsplashDiv p {
    color: antiquewhite;
    font-size: 1em;
}
.splish-NavLink {
    color: antiquewhite;
    text-decoration: none;
    text-align: center;
}
.splish-NavLink:hover {
    color: rgb(255, 136, 0);
}
.splish-NavLink2 {
    color: antiquewhite;
    text-decoration: none;
    text-align: center;
}
.splish-NavLink2:hover {
    color: black;
}
.mind-section {
    color: antiquewhite;
    text-decoration: none;
    text-align: center;
}

.gap-section {
    height: 100%;
    position: relative;
    top: -0.10em;
    text-align: center;
}

.outlet-section {
height: 100%;
    
}
.sectionLink {
    font-size: 2em;
    font-weight: 900;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.gapGap {
    display: grid;
    color: antiquewhite;
    font-size: 1em;
    place-self: center;
    background-color: rgb(0, 0, 0);
    grid-template-rows: 85% 15%;
    grid-template-columns: 1fr;
    gap: 5%;
}
.calch3 {
    font-size: 0.85em;
    text-align: center;
    margin: 0 auto;
}
.gapcalc {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    height: 100%;
    height: 600px;
}
.temporaryBox {
    height: 100%;
    height: 600px;
}
.buttonBox-mind {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
.bungIMG {
  
        width: 100%;
        position: relative;
        top: 25%;
        left: 0%;
        transform:scale(2);
        
      }
      .mooIMG {
  
        width: 100%;
        position: relative;
        top: 25%;
        left: 0%;
        transform:scale(1.15);
        
      }
.pFunk {
    color: rgb(57, 57, 57, 0.5);
}

.clickedh2 {
    font-size: 30px;
}