#root {
  font-size: 10px;
  width: 38em;
  height: 60em;
  border: solid black 1px;
}

.nav-bar {
  height: 3em;
  border: solid black 1px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: black;
}

.navbox {
  border: solid black 1px;
  width: 3.2em;
  height: 1.8em;
  text-align: center;
  background-color: rgb(34, 34, 34);
}




.nav-bar a {
  text-decoration: none;
  font-size: 1.5em;
  line-height: 0;
  color: white;
  
}

.one-box {
  width: 25em;
  height: 40em;
  background-color: red;
  margin: 0 auto;
}
.two-box {
  width: 24em;
  height: 38em;
  background-color: rgb(0, 255, 17);
  margin: 0 auto;
}

.three-box {
  width: 26em;
  height: 42em;
  background-color: cyan;
  margin: 0 auto;
}

.four-box {
  width: 360px;
  height: 530px;
  background-color: purple;
  margin: 0 auto;
  color: white;
  font-size: 3em;
  margin-top: -5%;
}

